@media only screen and (max-width: 1024px) {
    .header {
        padding: 0px;
        padding-top: 5px;
        line-height: 15px;
    }

    .header a {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-item {
        display: none;
        visibility: hidden;
    }
}