/***** Projects Section *****/
.body-projects-section {
    margin-bottom: 50px;
    display: table;
}

.body-projects-section-header {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: var(--main-project-header-font-size);

    color: var(--main-text-colour);
}

.body-projects-section-content {
    position: relative;
    width: auto;

    display: table-row;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--main-font-size-small);

    color: var(--main-text-colour);
}

.body-projects-section-content-col {
    float: left;
    width: 49%;
    display: table-column;
    padding: 5px;
}

.body-projects-section-content-col img {
    width: 100%;

    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body-projects-section-text {
    height: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: var(--main-bg-dark-colour);

    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body-projects-section-text-tech {
    display: table-row;
    color: var(--main-highlight-colour);
}

.body-projects-section-text-tech div {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.body-projects-github-button {
    position: absolute;
    right: 0;
    top: 5%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: var(--main-font-size);
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--main-highlight-colour);

    border: 2px solid var(--main-highlight-colour);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;

    cursor: pointer;
}

.body-projects-github-button:hover,
.body-projects-github-button:focus {
    background-color: var(--main-highlight-colour-opacity-50);
}